<header class="nav-bar">
    <span class="slogan">MOVIES</span>
    <div class="main-nav">
        <form action="" id="quick-search">
            <div id="quick-search-container">
                <input type="text" id="quick-search-input">
            </div>
        </form>
        <ul class="nav-links">
            <li><a href="https://yts.mx/"> Home </a></li>
            <li><a href="https://yts.mx/browse-movies/0/2160p/all/0/latest/0/all" style="color: palevioletred"> Login |
                    Register </a>
            </li>
        </ul>
    </div>
</header>