<app-header></app-header>
<div class="main-content">
    <div class="main-search">
        <div class="search-container">
            <form action="">
                <div class="main-search-fields">
                    <p>SEARCH:</p>
                    <input type="text" class="input-search"  (keyup)="searchMovie($event)">
                    <div class="select-container">
                        <div class="select-fields">
                            <p>Language</p>
                            <select name="" id="select-search">
                                <option value="">US</option>
                                <option value="KR"></option>
                            </select>
                        </div>
                        <div class="select-fields">
                            <p>Language</p>
                            <select name="" id="select-search">
                                <option value="">US</option>
                                <option value="KR"></option>
                            </select>
                        </div>
                        <div class="select-fields">
                            <p>Language</p>
                            <select name="" id="select-search">
                                <option value="">US</option>
                                <option value="KR"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="pagination">
        <ul class="paging">
            <!-- <li [ngClass]="{disabled:pager.currentPage === 1}">
                <button class="btn-paging" (click)="setPage(1)">First</button>
            </li> -->
            <ng-container *ngFor="let page of pager.pages">
                
                <li><button class="btn-paging" [ngClass]="{active: pager.currentPage === page}" (click)="setPage(page)">{{page}}</button></li>
            </ng-container>
            <!-- <li [ngClass]="{disabled:pager.currentPage === 1}">
                <button class="btn-paging" (click)="setPage(pager.totalPages)">End</button>
            </li> -->
        </ul>
        <!-- <ul class="pagination">
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(1)">First</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}"><a class="page-link"
                    (click)="setPage(1)" href="#">Previous</a></li>
            <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"><a
                    class="page-link" (click)="setPage(page)">{{page}}</a></li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"><a class="page-link"
                    (click)="setPage(pager.currentPage + 1)">Next</a></li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"><a class="page-link"
                    (click)="setPage(pager.totalPages)">Last</a></li>
        </ul> -->
    </div>


    <div class="container">
        <div class="row">
            <div class="box col-6 col-sm-4 col-md-5 col-lg-3" *ngFor="let movie of movies">
                <a [routerLink]="['/movies/' + movie.id]" routerLinkActive="router-link-active" class="movie-link">
                    <img src="{{serverImage}}{{movie.poster_path}}" alt="">
                </a>
                <div class="movie-info">
                    <div class="title">
                        {{movie.title}}
                    </div>
                    <div class="year-release">
                        {{movie.release_date | date: 'MM-yyyy'}}
                    </div>
                    <div class="metascore">
                        {{movie.vote_average}}/10
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-beat">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- <app-footer></app-footer> -->